# Vela app
node_modules/
build/
dist/
.temp_*/
.DS_Store

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/captures/
android/.idea/
android-app/.gradle/
android-app/build/
android-app/app/build/
android-app/local.properties
android-app/captures/
android-app/.idea/
android-app/*.jks
android-app/release.jks
